@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@700&display=swap');

.asdf{
    color: hsl(233, 47%, 7%); 
    color: hsl(244, 38%, 16%); 
    color: hsl(277, 64%, 61%); 
    color: hsl(0, 0%, 100%); 
    color: hsla(0, 0%, 100%, 0.75); 
    color: hsla(0, 0%, 100%, 0.6); 
}

body{
    margin: 0;
    width: 100%;
    height: 100%;

    background-color: hsl(233, 47%, 7%); 
    font-family: 'Inter', sans-serif;
    font-size: 0.9375em;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 3em;
    padding-bottom: 3em;
}

h1{
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

.card{
    width: 343px;
    background-color: hsl(244, 38%, 16%); 
    color: hsl(0, 0%, 100%); 
    border-radius: 1em;
}

.image{
    position: relative;
}

.image::after{
    content: '';
    background-color: hsl(277, 64%, 61%, 50%); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.image img{
    display: block;
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-data{
    padding: 1.5em;
}

h1 span{
    color: hsl(277, 64%, 61%); 
}

p{
    text-align: center;
    line-height: 2;
}

.data-container, .data-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.data-container{
    margin-top: 3em;
    margin-bottom: 1em;
    gap: 2em;
}

.data-container div :first-child{
    font-size: 1.5em;
    font-weight: 700;
}

.data-container div :last-child{
    font-size: 0.8em;
    margin-top: 0.5em;
}

@media only screen and (min-width: 1024px){
    body{
        position: absolute;
        bottom: 0;

        padding: 0;
    }

    .card{
        display: flex;
        width: 1024px;
        flex-direction: row-reverse;
    }

    .image{
        width: 50%;
    }

    .image::after{
        border-top-left-radius: 0;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    
    .image img{
        border-top-left-radius: 0;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    
    .card-data{
        width: 50%;
        position: relative;

        padding-left: 0;
        padding-right: 0;
    }

    h1{
        width: 70%;
        margin-left: 2em;
    }

    p, .data-container{
        width: 70%;
        margin-left: 4em;
    }

    h1{
        text-align: start;
    }

    p{
        text-align: start;
    }

    .data-container{
        justify-content: start;
        flex-direction: row;
    }
}